body {
  font-family: "Kumbh Sans", serif;
  height: 100%;
  width: 100%;
}
.ml-1 {
  margin-top: 0.25;
  margin-left: 100px !important;
}
.nav-item a:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.sidepanel {
  height: 500px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 130px;
  right: 0;
  background-color: hsl(223, 64%, 98%);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
  border-bottom: 2px solid hsl(220, 14%, 75%);
}

.cart-column {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid black; */
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 100%;
}

.cart-price {
  color: hsl(220, 14%, 75%);
}

.cart-item-title {
  color: hsl(220, 14%, 75%);
  margin-left: 0.5em;
}

.cart-item-image {
  width: 25%;
  height: auto;
  border-radius: 10px;
}

.cart-row:last-child {
  border-bottom: 2px solid hsl(220, 14%, 75%);
  border-width: 70%;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/* maybe ? */
